.login-form {
    max-width: 600px !important;
    margin: auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
}

.login-social {
    text-align: center;
}

.login-box {
    margin-top: 180px;
}

.confirm-msg {
    margin-top: 200px;
}

body {
    min-height: 100%;
    background: linear-gradient(0deg, rgba(39, 38, 39, 0.4), rgba(106, 56, 23, 0.59)), url("../img/bg.jpg");
    background-repeat: repeat, repeat;
    background-attachment: scroll, scroll;
    background-size: auto, auto;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media screen and (max-width: 475px) {
    .github-btn {
        margin-bottom: 10px;
    }
}